{% extends 'base.html' %}

{% block content %}

    <h1>Doctor List</h1>
    {% if user.is_staff %}
            <a href="{% url 'create_doctor' %}">Create New Doctor</a>
    {% endif %}
    <ul>
        {% for doctor in doctors %}
            <li>{{ doctor.name }} - {{ doctor.speciality }}</li>

            {% if user.is_staff %}
                <a href="{% url 'edit_doctor' doctor.id %}">Edit</a>
                <a href="{% url 'delete_doctor' doctor.id %}">Delete</a>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}