{% extends 'base.html' %}
{% block content %}
    {% if user.is_staff %}
        <h1>Appointments</h1>
    {% else %}
        <h1>My Appointments</h1>
    {% endif %}

    {% if user.is_authenticated %}
        <ul>
        {% for appointment in appointments %}
            <li>
                Doctor: {{ appointment.slot.doctor.name }} <br>
                Date: {{ appointment.slot.date }} <br>
                Time: {{ appointment.slot.time }} <br>
                {% if user.is_staff %}
                    Patient: {{ appointment.user }}
                {% endif %}

                <br>

                <a href="{% url 'edit_appointment' appointment.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'cancel_appointment' appointment.id %}" class="btn btn-danger">Cancel</a>
            </li>
        {% empty %}
            <p>No appointments found.</p>
        {% endfor %}
        </ul>
    {% else %}
        <p>Please login to view your appointments.</p>
    {% endif %}

{% endblock %}