{% extends 'base.html' %}

{% block content %}
    <h1>Slot List</h1>
    {% if user.is_staff %}
        <a href="{% url 'create_slot' %}">Create New Slot</a>
    {% endif %}
    <ul>
        {% for slot in slots %}
            <li>{{ slot.doctor.name }} - {{ slot.date }} {{ slot.time }}</li>

            {% if user.is_authenticated %}
                <a href="{% url 'book_appointment' slot.id %}">Book</a>
            {% endif %}

            {% if user.is_staff %}
                <a href="{% url 'edit_slot' slot.id %}">Edit</a>
                <a href="{% url 'delete_slot' slot.id %}">Delete</a>
            {% endif %}

            <a href="{% url 'book_appointment' slot.id %}">Book</a>
        {% endfor %}
    </ul>
{% endblock %}