{% extends 'base.html' %}

{% block content %}
    <h1>Slot List</h1>
    {% if user.is_staff %}
        <a href="{% url 'create_slot' %}" class="btn btn-success">Create New Slot</a>
    {% endif %}
    <ul>
        {% for slot in slots %}
            <li>{{ slot.doctor.name }} - {{ slot.date }} {{ slot.time }}</li>

            {% if not user.is_staff %}
                {% if not slot.appointment %}
                    <a href="{% url 'book_appointment' slot.id %}" class="btn btn-primary">Book</a>
                {% else %}
                    <p><strong>Already booked.</strong></p>
                {% endif %}
            {% endif %}

            {% if user.is_staff %}
                <a href="{% url 'edit_slot' slot.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'delete_slot' slot.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}