{% extends 'base.html' %}

{% block content %}
    <h1>Slot List</h1>
    <ul>
        {% for slot in slots %}
            <li>{{ slot.doctor.name }} - {{ slot.date }} {{ slot.time }}</li>

            {% if user.is_authenticated %}
                <a href="{% url 'book_appointment' slot.id %}">Book</a>
            {% else %}
                <small>Login to book an appointment!</small>
            {% endif %}

            <a href="{% url 'book_appointment' slot.id %}">Book</a>
        {% endfor %}
    </ul>
{% endblock %}