{% extends 'base.html' %}

{% block content %}
    <h1>Patient User List</h1>

    <ul>
        {% for u in users %}
            <li>
                Username: {{ u.username }}<br>
                First Name: {{ u.first_name }}<br>
                Last Name: {{ u.last_name }}<br>
                Email: {{ u.email }}

                <br>
                <a href="{% url 'edit_user' u.id %}" class="btn btn-primary">Edit</a>

                {%  if u != request.user %}
                    <form method="post" action="{% url 'delete_user' u.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                {% endif %}
            </li>
            <br>
        {% endfor %}
    </ul>

{% endblock %}